$break-xl: 375px;
$break-small: 767px;
$break-large: 768px;

$white-two: #e3e3e3;
$warm-grey: #999999;
$brownish-grey: #666666;
$slate-grey-two: #586069;
$pale-grey: #e1e4e8;
$dark-grey: #24292e;
$rusty-orange: #e36209;